<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Portal</title>
    <link rel="stylesheet" href="/Styles/Booking.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: slategray;">
        <a class="navbar-brand" href="#">!---Hotelname---!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/customer/dashboard">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/customer/newBooking">Book</a>
            <a class="nav-item nav-link" href="./gallery.html">Tour</a>
            <a class="nav-item nav-link" href="./Contact.html">Contact Us</a>
          </div>
        </div>
    </nav>



    <div class="img-book">
        <img src="/Images/HotelRecep.jpg">
    </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Room ID</th>
              <th scope="col">Room Type</th>
              <th scope="col">Accomodation</th>
              <th scope="col">Enter Booking ID</th>
              <th scope="col">Method of booking</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i=0;i<info.length;i++){ %> 
              <% if(info[i].Vacancy==="Yes"){%>
            <tr>
              <form class="needs-validation" action="/customer/newBooking" method="POST" novalidate>
              <th scope="row"><%= info[i].Room_ID %></th>
              <td><%= info[i].Room_Type %></td>
              <td><%= info[i].Accomodation %> Bed</td>
              <input type="hidden" name="rID" value="<%= info[i].Room_ID %>">
              <td><input type="text" class="form-control" name="bId" placeholder="Booking ID"></td>
              <td><select name="btype" class="form-control">
                <option value="online">Online</option>
                <option value="offline">Offline</option>
            </select></td>
              <td><button type="submit" class="btn btn-primary">Choose</button></td>
            </form>
            </tr>
            <%}%> 
          <%}%>
          </tbody>
        </table>
      
      <script src="/script/main.js"></script>
</body>
</html>